* {
    font-family: "Oxygen", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    color: #212d67;
    border-bottom: 3px solid #aab4ee;
}

.header-right {
    flex: 85%;
    text-align: right;        
}

.header-left {
    flex: 15%;
    text-align: center;
}

.logo {
    color: #d35c76;
    font-weight: bold;
    border: 3px solid #aab4ee;
    border-radius: 15%;
}

.name {
    margin-bottom: 0%;
}

.role {
    margin: 1% 0%;
}

.project-p {
    text-align: center;
}

/*
media query for desktop screen
*/
@media screen and (min-width: 901px){
    .container {
        margin: 0 10%;
    }

    .logo {
        margin: 30% 0 15% 0%;
        font-size: 2.5em;
        height: 55px;
        width: 60px;
    }

    .intro-image-div {
        float: right;
    }
    
    .intro-image {
        margin-top: 2%;
        width: 100%;
        min-height: 300px;
        max-height: 400px;
    }

    .featured-work {
        float: right;
        color: #212d67;
    }

    .projects {
        display: flex;
        width: 100%;
    }
    
    .project1 {
        margin: 3px;
        
    }

    .project-img-p {
        height: 75%;
    }
    
    .pr {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*
media query for Tablet screen
*/
@media screen and (min-width:640px) and (max-width: 900px){  
    .container {
        margin: 0 10%;
    }

    .logo {
        margin: 30% 0 15% 0%;
        font-size: 2.5em;
        height: 55px;
        width: 60px;
    }

    .intro-image {
        margin-top: 2%;
        width: 100%;
        min-height: 300px;
        max-height: 400px;
    }

    .featured-work {
        width:100%;
    }

    .projects {
        display: flex;
        width: 100%;
    }
    
    .project1 {
        margin: 3px;
        
    }

    .project-img-p {
        height: 75%;
    }
    
    .pr {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*
media query for Mobile screen
*/
@media screen and (max-width: 640px){
    .container {
        margin: 0 5%;
    }

    .logo {
        margin: 50% 0%;
        width: 40px;
        font-size: 1.5em;
    }
    
    .intro-image {
        margin-top: 2%;
        width: 100%;    
    }

    .featured-work {
        text-align: center;
        color: #212d67;
    } 

    .pr {
        width: 100%;
    }
    
}
