*{
    font-family: 'Oxygen', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}



.header{
    color: #212d67;
}

.logo{
    margin: 30% 0 15% 0%;
    color: #D35C76;
    font-size: 2.5em;
    font-weight: bold;
    height: 55px;
    width: 60px;
    border: 3px solid #AAB4EE;
    border-radius: 15%;
}

.name{
    margin-bottom: 0%;
}
.role{
    margin: 1% 0%;
}
hr{
    width: 100%;
    border: 2px solid #AAB4EE;
    border-right: 0px;
    border-left: 0px;
    background-color: #AAB4EE;
}

.color1{
    background-color: #AAB4EE;
}

.color2{
    background-color: #D35C76;
}
.color3{
    background-color: #212d67;
}


@media screen and (min-width: 901px){
    .container{
        margin: 0 10%;
    }
    .header{
        margin-left: 15%;
    }
    
    .header-right{
        width: 85%;
        float: right;
        text-align: right;
    }
    
    .header-left{
        width: 15%;
        float: left;
        text-align: center;
    }
    .intro-image-div{
        float: right;
        width: 85%;
    }
    
    .intro-image{
        margin-top: 2%;
        width: 100%;    
    }
    .used-color{
        float: left;
        width: 15%;
        margin: 0;
        padding: 0;
    }
    .color-p{
        margin: 0% 40% 0% 10%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 1em;
        font-weight: bold;
    }
    .color{
        padding: 20%;
        margin: 0% 40% 0% 10%;
    }
    .featured-work{
        float: right;
        width: 85%;
        color: #212d67;
    }
    .projects{
        display: flex;
        width: 100%;
    }
    
    .project1{
        margin: 3px;
        
    }
    .project-img-p{
        height: 75%;
    }
    
    .pr{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .project-p{
        text-align: center;
    }
}
@media screen and (min-width:640px) and (max-width: 900px){  
    .container{
        margin: 0 10%;
    }
    .header-right{
        width: 85%;
        float: right;
        text-align: right;
    }
    
    .header-left{
        width: 15%;
        float: left;
        text-align: center;
    }
    .intro-image{
        margin-top: 2%;
        width: 100%;    
    }
    
    .used-color{
        display: flex;
    }
    .color-flex{
        flex: 100%;
    }
    .color-p{
        margin-top: 0%;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }
    .color{
        padding: 25% 15%;
        border: 20px solid white;
    }
    .featured-work{
        width:100%;
    }
    .projects{
        display: flex;
        width: 100%;
    }
    
    .project1{
        margin: 3px;
        
    }
    .project-img-p{
        height: 75%;
    }
    
    .pr{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .project-p{
        text-align: center;
    }
}

@media screen and (max-width: 640px){
    .container{
        margin: 0 5%;
    }
    .header-right{
        width: 100%;
        text-align: center;
    }
    
    .header-left{
        display: none;
    }
    .intro-image{
        margin-top: 2%;
        width: 100%;    
    }
    .used-color{
        display: flex;
    }
    .color-flex{
        flex: 100%;
        margin: 5%;
    }
    .color-p{
        margin-top: 0%;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
    }
    .color{
        padding: 30% 25%;
        border: 1px solid white;
    }
    .featured-work{
        text-align: center;
        color: #212d67;
    }  
    .pr{
        width: 100%;
    }
    
    .project-p{
        text-align: center;
    }
}

@media screen and (max-width:320px) {
    .used-color{
        display: none;
    }
}
