body{
    font-family: 'Oxygen', sans-serif;
}
.container{
    margin: 0 8%;
}
.container-fluid{
    margin-left: 14%;
}

.logo{
    margin-top: 5%;
    font-size: 300%;
    color: #2d3c49;
    border: 4px solid #7d97ad;
    height: 60px;
    text-align: center;
    border-radius: 15%;
}
.header{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.name{
    font-size: 3em;
    margin: 2% 0%;
    color: #2d3c49;
}
.role{
    font-size: 1.5em;
    margin: 0%;
    color: #2d3c49;
}
hr{
    width: 100%;
    padding: 0;
    border: 2px solid #7d97ad;
}
.flex-head{
    flex: 9;
}

.flex-content{
    display: flex;
    flex-direction: row; 
}

img.image{
    float: right;
    width: 100%;
    margin-top: 3%;
}

.imagediv{
    flex: 86;
}

.color{
    flex: 14;
}

.color > ul{
    margin: 0;
    padding: 0;
    float: left;
}
.color >ul> p{
    font-weight: bolder;
    margin-top: 0%;
}
.color1{
    list-style: none;
    height: 70px;
    width: 70px;
    background-color: #8c8b8b;
}
.color2{
    list-style: none;
    height: 70px;
    width: 70px;
    background-color: #2d3c49;
}
.color3{
    list-style: none;
    height: 70px;
    width: 70px;
    background-color: #7d97ad;
}
.flex-work{
    display: flex;
    flex-direction: row;
}
.flex-work > div{
    height: 250px;
    width: 300px;
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
}

.flex-work > div > p{
    text-align: center;
    font-weight: bold;
}
.work-image{
    height: 200px;
    width: 300px;
}
